<head>
  <meta name='viewport' content='width=device-width' />
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>2FA Email</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    rel="stylesheet">
  <style>
.outer {
  border-radius: 5px;
  background-color: #D9D9D970;
  font-family: "Inter", sans-serif;
  padding: 0 30px 30px 40px;
  margin: 0;
}

.app-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 43.57px;
  color: #000000;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  font-family: 'Inter, sans-serif';
}

.inner {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 5px;
  margin: auto;
  padding: 40px;
  font-family: 'Inter, sans-serif';
}

.center {
  text-align: center;
}

.h2font {
  border-radius: 5px;
  font-family: "Inter, sans-serif";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}

.text-before-code {
  width: 80%;
  height: 40%;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px 0;
}

.code {
  width: 40%;
  border-radius: 5px;
  background-color: #D9D9D991;
  padding: 14px 2px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43.57px;
  display: inline-block;
}

.text-after-code {
  width: 90%;
  height: 40%;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-text {
  width: 100%;
  height: 40%;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #8F9090;
  padding-top: 100px;
}

.footer-button {
  width: 30%;
  height: 20%;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: #2929CC;
  border-style: none;
  margin: auto;
}

.mb32 {
  margin-bottom: 32px;
}

@media(max-width: 490px) {
  .footer-button {
  width: 100%;
}
.text-after-code {
  width: 100%;
}
.text-before-code {
  width: 100%;
  padding: 0;
}
}
  </style>
</head>
<body>
  <main>
    <table class="outer">
      <tr>
        <td>
          <div class='app-name'>
            <span >Tudu</span>
          </div>
        </td>
      </tr>
    </table>
  </main>
</body>
